In [11]:
import pandas as pd
import gensim

In [12]:
df = pd.read_csv('yago_full_clean.txt',sep = ' ', header=None)

In [13]:
df

,0,1,2
0,<Jesús_Rivera_Sánchez>,<isLeaderOf>,<Pueblo_of_Naranjito>
1,<Elizabeth_II>,<isLeaderOf>,<Royal_Numismatic_Society>
2,<Richard_Stallman>,<isLeaderOf>,<Free_Software_Foundation>
3,<Keith_Peterson>,<isLeaderOf>,<Cambridge_Bay>
4,<William_H._Seward_Jr.>,<isLeaderOf>,<9th_New_York_Heavy_Artillery_Regiment>
...,...,...,...
13235106,<John_McQuilten>,<hasGivenName>,<John>
13235107,<fr/Sofiane_Takoucht>,<hasGivenName>,<Sofiane>
13235108,<Sujata_Manohar>,<hasGivenName>,<Sujata>
13235109,<Brian_Calley>,<hasGivenName>,<Brian>
13235110,<pl/Tuifeamalo_Annandale>,<hasGivenName>,<Tuifeamalo>

In [14]:
mapping = {df.columns[0]: 'entity1', df.columns[1]: 'relation', df.columns[2]: 'entity2'}
df1 = df.rename(columns=mapping)

In [15]:
df1

,entity1,relation,entity2
0,<Jesús_Rivera_Sánchez>,<isLeaderOf>,<Pueblo_of_Naranjito>
1,<Elizabeth_II>,<isLeaderOf>,<Royal_Numismatic_Society>
2,<Richard_Stallman>,<isLeaderOf>,<Free_Software_Foundation>
3,<Keith_Peterson>,<isLeaderOf>,<Cambridge_Bay>
4,<William_H._Seward_Jr.>,<isLeaderOf>,<9th_New_York_Heavy_Artillery_Regiment>
...,...,...,...
13235106,<John_McQuilten>,<hasGivenName>,<John>
13235107,<fr/Sofiane_Takoucht>,<hasGivenName>,<Sofiane>
13235108,<Sujata_Manohar>,<hasGivenName>,<Sujata>
13235109,<Brian_Calley>,<hasGivenName>,<Brian>
13235110,<pl/Tuifeamalo_Annandale>,<hasGivenName>,<Tuifeamalo>

In [16]:
df2 = df1.iloc[:300000]

In [17]:
df2

,entity1,relation,entity2
0,<Jesús_Rivera_Sánchez>,<isLeaderOf>,<Pueblo_of_Naranjito>
1,<Elizabeth_II>,<isLeaderOf>,<Royal_Numismatic_Society>
2,<Richard_Stallman>,<isLeaderOf>,<Free_Software_Foundation>
3,<Keith_Peterson>,<isLeaderOf>,<Cambridge_Bay>
4,<William_H._Seward_Jr.>,<isLeaderOf>,<9th_New_York_Heavy_Artillery_Regiment>
...,...,...,...
299995,<John_H._Rountree>,<isCitizenOf>,<United_States>
299996,<Edwin_Jones_(footballer)>,<isCitizenOf>,<England>
299997,<Ludvig_Lindgren>,<isCitizenOf>,<Sweden>
299998,<Nela_Zisser>,<isCitizenOf>,<New_Zealand>
299999,<Shean_Garlito>,<isCitizenOf>,<Belgium>

In [18]:
df2.to_csv('small_input.txt', sep=' ', header=False, index=False)

In [19]:
df3 = pd.read_csv('small_input.txt',sep = ' ', header=None)

In [20]:
df3

,0,1,2
0,<Jesús_Rivera_Sánchez>,<isLeaderOf>,<Pueblo_of_Naranjito>
1,<Elizabeth_II>,<isLeaderOf>,<Royal_Numismatic_Society>
2,<Richard_Stallman>,<isLeaderOf>,<Free_Software_Foundation>
3,<Keith_Peterson>,<isLeaderOf>,<Cambridge_Bay>
4,<William_H._Seward_Jr.>,<isLeaderOf>,<9th_New_York_Heavy_Artillery_Regiment>
...,...,...,...
299995,<John_H._Rountree>,<isCitizenOf>,<United_States>
299996,<Edwin_Jones_(footballer)>,<isCitizenOf>,<England>
299997,<Ludvig_Lindgren>,<isCitizenOf>,<Sweden>
299998,<Nela_Zisser>,<isCitizenOf>,<New_Zealand>
299999,<Shean_Garlito>,<isCitizenOf>,<Belgium>

In [8]:
df_join = pd.merge(df2, df2, how='inner', left_on = 'entity2', right_on = 'entity1')

In [9]:
df_join

,entity1_x,relation_x,entity2_x,entity1_y,relation_y,entity2_y
0,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<Vancouver>,<owns>,<Pacific_Coliseum>
1,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<Vancouver>,<owns>,<Empire_Stadium_(Vancouver)>
2,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<Vancouver>,<owns>,<A-maze-ing_Laughter>
3,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<Vancouver>,<owns>,<Pearson_Field>
4,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<Vancouver>,<owns>,<Vancouver_City_Hall>
...,...,...,...,...,...,...
6575876,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<Munich>,<owns>,<Vorderkaiserfelden_Hut>
6575877,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<Munich>,<owns>,<Grünwalder_Stadion>
6575878,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<Munich>,<owns>,<Stadtwerke_München>
6575879,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<Munich>,<owns>,<Reintalanger_Hut>
6575880,<Jakov_Mikalja>,<isCitizenOf>,<Kingdom_of_Naples>,<Kingdom_of_Naples>,<owns>,"<Ospedale_L-Albergo_Reale_dei_Poveri,_Naples>"

In [10]:
df_join.drop('entity1_y', inplace=True, axis=1)

In [11]:
mapping = {df_join.columns[0]: 'entity1', df_join.columns[1]: 'relation1', df_join.columns[2]: 'entity2', df_join.columns[3]: 'relation2', df_join.columns[4]: 'entity3'}
df_join1 = df_join.rename(columns=mapping)

In [12]:
df_join1

,entity1,relation1,entity2,relation2,entity3
0,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<owns>,<Pacific_Coliseum>
1,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<owns>,<Empire_Stadium_(Vancouver)>
2,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<owns>,<A-maze-ing_Laughter>
3,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<owns>,<Pearson_Field>
4,<Spencer_Chandra_Herbert>,<isLeaderOf>,<Vancouver>,<owns>,<Vancouver_City_Hall>
...,...,...,...,...,...
6575876,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<owns>,<Vorderkaiserfelden_Hut>
6575877,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<owns>,<Grünwalder_Stadion>
6575878,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<owns>,<Stadtwerke_München>
6575879,<Ruth_Vollmer>,<isCitizenOf>,<Munich>,<owns>,<Reintalanger_Hut>
6575880,<Jakov_Mikalja>,<isCitizenOf>,<Kingdom_of_Naples>,<owns>,"<Ospedale_L-Albergo_Reale_dei_Poveri,_Naples>"

In [13]:
s = df_join1["entity1"][0]
l = len(s)
s1 = s[1:(len(s)-1)]
print(s1)

Spencer_Chandra_Herbert

In [14]:
columns = list(df_join1)
print(columns)

['entity1', 'relation1', 'entity2', 'relation2', 'entity3']

In [2]:
from tqdm import tqdm

In [ ]:
data = []

for i in tqdm(range(df_join1.shape[0])):
    lst = []
    for j in range(df_join1.shape[1]):
        s = df_join1[columns[j]][i]
        lst.append(s[1:(len(s)-1)])
    lst1 = []
    lst1.append(lst)
    data.append(lst1)

 96%|█████████▌| 6325849/6575881 [07:01<00:14, 17587.46it/s]

In [ ]:
print(data[0:5])

In [ ]:
input_df = pd.DataFrame(data, columns=['tokens'])

In [ ]:
input_df["tokens"][0]

In [ ]:
input_df

In [ ]:
input_df.to_csv('inputs.csv', header=True, index=False)

In [3]:
input1_df = pd.read_csv('inputs.csv')

In [4]:
input1_df.head()

                                              tokens
0  ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
1  ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
2  ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
3  ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
4  ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...

In [5]:
input1_df["tokens"]

0          ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
1          ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
2          ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
3          ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
4          ['Spencer_Chandra_Herbert', 'isLeaderOf', 'Van...
                                 ...
6575876    ['Ruth_Vollmer', 'isCitizenOf', 'Munich', 'own...
6575877    ['Ruth_Vollmer', 'isCitizenOf', 'Munich', 'own...
6575878    ['Ruth_Vollmer', 'isCitizenOf', 'Munich', 'own...
6575879    ['Ruth_Vollmer', 'isCitizenOf', 'Munich', 'own...
6575880    ['Jakov_Mikalja', 'isCitizenOf', 'Kingdom_of_N...
Name: tokens, Length: 6575881, dtype: object

In [6]:
print(input1_df["tokens"][0])
type(input1_df["tokens"][0])

['Spencer_Chandra_Herbert', 'isLeaderOf', 'Vancouver', 'owns', 'Pacific_Coliseum']

str

In [7]:
# string1 = input1_df["tokens"][0]
# res1 = string1.strip('][').split(', ')
# for i in range(len(res1)):
#     print(res1[i])
#     print(res1[i][1:-1])
#     print(res1[i])
# print(res1)

In [8]:
def lslicing(lst):
    l = []
    for i in lst:
        l.append(i[1:-1])
    return l

In [9]:
input_list = []
for i in tqdm(range(len(input1_df["tokens"]))):
    string = input1_df["tokens"][i]
    res = string.strip('][').split(', ')
    res1 = lslicing(res)
    input_list.append(res1)

100%|██████████| 6575881/6575881 [01:03<00:00, 103442.66it/s]

In [10]:
input_list[0]

['Spencer_Chandra_Herbert',
 'isLeaderOf',
 'Vancouver',
 'owns',
 'Pacific_Coliseum']

## Word2Vec Model

In [11]:
model = gensim.models.Word2Vec(min_count=1,
                               vector_size= 50,
                               workers=4,
                               window =3,
                               sg = 1)

In [12]:
model.build_vocab(input_list, progress_per=10000)

In [13]:
len(model.wv.key_to_index)

370760

In [14]:
model.wv.key_to_index

{'owns': 0,
 'isCitizenOf': 1,
 'India': 2,
 'United_States': 3,
 'Germany': 4,
 'France': 5,
 'European_Space_Agency': 6,
 'Russia': 7,
 'European_Space_Research_Organisation': 8,
 'United_Kingdom': 9,
 'Australia': 10,
 'Chicago_Spurs': 11,
 'Alcorn_McBride': 12,
 'World_Digital_Library': 13,
 'D.C._Armory': 14,
 '2012_Austin_Aztex_season': 15,
 'Trowbridge_House': 16,
 'John_Joseph_Moakley_United_States_Courthouse': 17,
 'Hull_Pirates': 18,
 'Global_Memory_Net': 19,
 'SoCal_SC': 20,
 'President-s_Guest_House': 21,
 'Boston_Bulldogs_(soccer)': 22,
 'Naval_Air_Station_Oceana': 23,
 'Temple_United_FC': 24,
 'Ethnologue': 25,
 'Surrender_of_General_Burgoyne': 26,
 'John_Paul_Hammerschmidt_Federal_Building': 27,
 'Atlanta_Beat_(WPS)': 28,
 'Surrender_of_Lord_Cornwallis': 29,
 'World_Heritage_Memory_Net': 30,
 'New_Jersey_Blaze': 31,
 'Poland': 32,
 'China': 33,
 'Greece': 34,
 'Italy': 35,
 'Japan': 36,
 'Switzerland': 37,
 'Hapag-Lloyd': 38,
 'Hungary': 39,
 'Deutsche_Bahn': 40,
 'Deutsche_Telekom': 41,
 'Virato_Social_News': 42,
 'Deutsche_Flugsicherung': 43,
 'Douglas_House,_Petersham': 44,
 'Mysore_Cements_Limited': 45,
 'Olympiastadion_(Munich)': 46,
 'Fritzlar_Air_Base': 47,
 'Mainz_Institute_of_Microtechnology': 48,
 'Deutsche_Digitale_Bibliothek': 49,
 'Hammerschmidt_Villa': 50,
 'Spain': 51,
 'Eiffel_Tower': 52,
 'Stade_du_Hameau': 53,
 'Port_of_Newhaven': 54,
 'Kinomap': 55,
 'Thott_Mansion': 56,
 'Direction_des_Services_de_la_navigation_aérienne': 57,
 'CNES': 58,
 'Nijinsky-s_Secret': 59,
 'Paris-Mondial': 60,
 'Turkey': 61,
 'Sweden': 62,
 'Sport_Klub': 63,
 'Belgium': 64,
 'Netherlands': 65,
 'Square_Eddie': 66,
 'UK_Space_Agency': 67,
 'Manchester_Phoenix': 68,
 'Czech_Republic': 69,
 'New_Zealand': 70,
 'Austria': 71,
 'FAO_Building,_Rome': 72,
 'Denmark': 73,
 'Polish_State_Railways': 74,
 'Bolesławiec_rail_viaduct': 75,
 'Huta_Stalowa_Wola': 76,
 'Norway': 77,
 'Snowy_Hydro': 78,
 'Special_Broadcasting_Service': 79,
 'Aeon_(digital_magazine)': 80,
 'Toronto_Awaba_Stags_FC': 81,
 'Googong_Dam': 82,
 'West_Wallsend_FC': 83,
 'Clean_Energy_Finance_Corporation': 84,
 'Australian_National_Botanic_Gardens': 85,
 'Finland': 86,
 'Ukraine': 87,
 'Vaitarna_Dam': 88,
 'Aryan_F.C.': 89,
 'Ramtek_Dam': 90,
 'Dolwahal_Dam': 91,
 'Karwand_Dam': 92,
 'Mehakari_Dam': 93,
 'Ujjani_Dam': 94,
 'Haranbari_Dam': 95,
 'Berdewadi_Dam': 96,
 'Shivana_Takli_Dam': 97,
 'Nirguna_Dam': 98,
 'Kurje_Dam': 99,
 'Tultuli_Dam': 100,
 'Manar_Dam': 101,
 'Chankapur_Dam': 102,
 'Ekrukh_Dam': 103,
 'Khekaranalla_Dam': 104,
 'Burai_Dam': 105,
 'Chandani_Dam': 106,
 'Koradi_Dam': 107,
 'Kanholibara_Dam': 108,
 'Sukhana_Dam': 109,
 'Kanoli_Dam': 110,
 'Gharni_Dam': 111,
 'Pathari_Dam': 112,
 'Tulshi_Dam': 113,
 'Bhatghar_Dam': 114,
 'Bokani_Dam': 115,
 'Rangawali_Dam': 116,
 'Ashti_Dam,_Mohol': 117,
 'Sakat_Dam': 118,
 'Bhojapur_Dam': 119,
 'Bham_Dam': 120,
 'Prakasha_Barrage_Dam': 121,
 'Siddheshwar_Dam': 122,
 'Khairi_Dam': 123,
 'Yeralwadi_Dam': 124,
 'Nalganga_Dam': 125,
 'Human_Dam': 126,
 'Natuwadi_Dam': 127,
 'Yelavi_Dam': 128,
 'Mula_Dam': 129,
 'Chorkhamara_Dam': 130,
 'Purnaneopur_Dam': 131,
 'Manjara_Dam': 132,
 'Temghar_Dam': 133,
 'Alwandi_Dam': 134,
 'Chitri_Dam': 135,
 'Upper_Vaitarana_Dam': 136,
 'Pargaon_Ghatshil_Dam': 137,
 'Dehali_Dam': 138,
 'Masalga_Dam': 139,
 'Jakapur_Dam': 140,
 'Dongargaon_Dam': 141,
 'Alandi_Dam': 142,
 'Gose_Khurd_Dam': 143,
 'Lalocalalla_Dam': 144,
 'Pandherbodi_Dam': 145,
 'Mahamadwadi_Dam': 146,
 'Ekburji_Dam': 147,
 'Manyad_Dam': 148,
 'Panshet_Dam': 149,
 'Masoli_Dam': 150,
 'Kanher_Dam': 151,
 'Girna_Dam': 152,
 'Girija_Dam': 153,
 'Adol_Dam': 154,
 'Wadaj_Dam': 155,
 'Raigavan_Dam': 156,
 'Vishwamitri_Dam': 157,
 'Kundlika_Dam': 158,
 'Karwappa_Dam': 159,
 'Tikhol_Dam': 160,
 'Sina_Dam': 161,
 'Chulbandh_Dam': 162,
 'Barvi_Dam': 163,
 'Upper_Wardha_Dam': 164,
 'Upper_Pus_Dam': 165,
 'Chandai_Dam': 166,
 'Anjanapalshi_Dam': 167,
 'Nilwande_Dam': 168,
 'Hanga_Dam': 169,
 'Mukane_Dam': 170,
 'Susri_Dam': 171,
 'Hingani_Dam': 172,
 'Itiadoh_Dam': 173,
 'Galhati_Dam': 174,
 'Tillari_(Main)_Dam': 175,
 'Saikheda_Dam': 176,
 'Sirpur_Dam': 177,
 'Dhaner_Dam': 178,
 'Kalyangirija_Dam': 179,
 'Dina_Dam': 180,
 'Dham_Dam': 181,
 'Vihar_Dam': 182,
 'Isapur_Dam': 183,
 'Mun_Dam': 184,
 'Wunna_Dam': 185,
 'Goki_Dam': 186,
 'Uma_Dam': 187,
 'Karadkhed_Dam': 188,
 'Sakol_Dam': 189,
 'Palkhed_Dam': 190,
 'Shirvata_Dam': 191,
 'Januna_Dam': 192,
 'Chargaon_Dam': 193,
 'Waghad_Dam': 194,
 'Ghorazari_Dam': 195,
 'Chilewadi_Dam': 196,
 'Sonwad_Dam': 197,
 'Nawegaonbandh_Dam': 198,
 'Majalgaon_Dam': 199,
 'Bhama_Asakhed_Dam': 200,
 'Jamkhed_Dam': 201,
 'Kar_Dam': 202,
 'Khandeshar_Dam': 203,
 'Jamkhedi_Dam': 204,
 'Wadishewadi_Dam': 205,
 'Kashypi_Dam': 206,
 'Dhamni_Dam': 207,
 'Khelocala_Dam': 208,
 'Shirsufal_Dam': 209,
 'Dhoki_Dam': 210,
 'Bhudihal_Dam': 211,
 'Kadwa_Dam': 212,
 'Bori_Dam': 213,
 'Adhala_Dam': 214,
 'Sonal_Dam': 215,
 'Lower_Panzara_Dam': 216,
 'Panzara_Dam': 217,
 'Palashi_Dam': 218,
 'Yeldari_Dam': 219,
 'Niradevghar_Dam': 220,
 'Lower_Pus_Dam': 221,
 'Borna_Dam': 222,
 'Arunawati_Dam': 223,
 'Tisangi_Dam': 224,
 'Nagan_Dam': 225,
 'Godavari_Dam': 226,
 'Pimpalgaon_Joge_Dam': 227,
 'Harni_Dam': 228,
 'Babhulgaon_Dam': 229,
 'Manikpuri_Dam': 230,
 'Thokarwadi_Dam': 231,
 'Bhivargi_Dam': 232,
 'Awashi_Dam': 233,
 'Chandrabhaga_Dam_(Amravati)': 234,
 'Punegaon_Dam': 235,
 'Matoba_Dam': 236,
 'Ghod_Dam': 237,
 'Ambadi_Dam': 238,
 'Benitura_Dam': 239,
 'Khairbandha_Dam': 240,
 'Pentakali_Dam': 241,
 'Pakadiguddam_Dam': 242,
 'Bhatsa_Dam': 243,
 'Vadiwale_Dam': 244,
 'Shetfal_Dam': 245,
 'Karpara_Dam': 246,
 'Karanjwan_Dam': 247,
 'Adan_Dam': 248,
 'Madan_Dam': 249,
 'Erai_Dam': 250,
 'Tarandale_Dam': 251,
 'Mangi_Dam,_India': 252,
 'Shahanoor_Dam': 253,
 'Aner_Dam': 254,
 'Kalyan_Dam': 255,
 'Bor_Dam': 256,
 'Bor_Dahegaon_Dam': 257,
 'Darna_Dam': 258,
 'Katangi_Dam': 259,
 'Radhanagari_Dam': 260,
 'Malkhed_Dam': 261,
 'Tembhapuri_Dam': 262,
 'Nagyasakya_Dam': 263,
 'Amalocalalla_Dam': 264,
 'Ozarkhed_Dam': 265,
 'Garbaldi_Dam': 266,
 'Rui_Chatrapati_Dam': 267,
 'Kurnur_Dam': 268,
 'Waldevi_Dam': 269,
 'Popatkhed_Dam': 270,
 'Tisgaon_Dam': 271,
 'Khasapur_Dam': 272,
 'Sarang_Kheda_Dam': 273,
 'Sindphana_Dam': 274,
 'Uttarmand_Dam': 275,
 'Devargan_Dam': 276,
 'Kudnur_Dam': 277,
 'Gangapur_Dam': 278,
 'Wakod_Dam': 279,
 'Mas_Dam': 280,
 'Chargad_Dam': 281,
 'Wandri_Dam': 282,
 'Wan_Dam,_Akola': 283,
 'Aralakalmodi_Dam': 284,
 'Pethwadaj_Dam': 285,
 'Morana_Dam': 286,
 'Deogad_Dam': 287,
 'Andra_Valley_Dam': 288,
 'Dhamna_Dam': 289,
 'Lower_Wardha_Dam': 290,
 'Wan_Dam,_Ambejogai': 291,
 'Kalisarar_Dam': 292,
 'Upper_Dudhana_Dam': 293,
 'Pothara_Dam': 294,
 'Utawali_Dam': 295,
 'Tawarja_Dam': 296,
 'Nazare_Dam': 297,
 'Gyanganga_Dam': 298,
 'Visapur_Dam': 299,
 'Dhamapur_Dam': 300,
 'Lower_Tapi_Dam': 301,
 'Dimbhe_Dam': 302,
 'Jam_Dam': 303,
 'Mandohol_Dam': 304,
 'Kundrala_Dam': 305,
 'Nawatha_Dam': 306,
 'Ghanewadi_Dam': 307,
 'Purna_Dam': 308,
 'Kordi_Dam': 309,
 'Sulwade_Barrage_Dam': 310,
 'Waghur_Dam': 311,
 'Borgaon_Dam': 312,
 'Gomai_Dam': 313,
 'Kolar_Dam': 314,
 'Terna_Dam': 315,
 'Makardhokada_Dam': 316,
 'Hetwane_Dam': 317,
 'Kamthikhairy_Dam': 318,
 'Dhom_Dam': 319,
 'Dheku_Dam': 320,
 'Mhaswad_Dam': 321,
 'Kelzar_Dam': 322,
 'Manikdoh_Dam': 323,
 'Morna_Gureghar_Dam': 324,
 'Savatri_Dam': 325,
 'Yedgaon_Dam': 326,
 'Waghadi_Dam': 327,
 'Chenna_Dam': 328,
 'Bhavali_Dam': 329,
 'Narangi_Dam': 330,
 'Nanduri_Dam': 331,
 'Asolamendha_Dam': 332,
 'Morna_Dam,_Shirala': 333,
 'Lower_Wunna_Dam': 334,
 'Kawadas_Dam': 335,
 'Tiru_Dam': 336,
 'Upper_Kadwa_Dam': 337,
 'Talamba_Dam': 338,
 'Walwan_Dam': 339,
 'Bahula_Dam': 340,
 'Gunjwani_Dam': 341,
 'Waki_Dam': 342,
 'Anjneri_Dam': 343,
 'Purmepeda_Dam': 344,
 'Malangaon_Dam': 345,
 'Punad_Dam': 346,
 'Chandpur_Dam': 347,
 'Sina_Kolegaon_Dam': 348,
 'Pujaritola_Dam': 349,
 'Lonimavla_Dam': 350,
 'Portugal': 351,
 'Iran': 352,
 'Instituto_Nacional_de_Técnica_Aeroespacial': 353,
 'VTB_Bank': 354,
 'Roscosmos_State_Corporation': 355,
 'The_Creator': 356,
 'Kurumkan_Airport': 357,
 'More_(Feodosiya)': 358,
 'Baikal_International_Airport': 359,
 'Orlik_Airport': 360,
 'Grozny_Airport': 361,
 'Zalyv_Shipbuilding_yard': 362,
 'Meteor_Zavod': 363,
 'Bagdarin_Airport': 364,
 'Uytash_Airport': 365,
 'International_Airport_Irkutsk': 366,
 'De-Kastri_terminal': 367,
 'isLeaderOf': 368,
 'South_Korea': 369,
 'Croatia': 370,
 'Romania': 371,
 'Israel': 372,
 'Mürzsteg_Hunting_Lodge': 373,
 'Afghanistan': 374,
 'Serbia': 375,
 'Malaysia': 376,
 'PostNord': 377,
 'Jinpūkaku': 378,
 'Tenkyōkaku': 379,
 'JAXA': 380,
 'Ikaho_Ropeway': 381,
 'La_Mariée': 382,
 'Mexico': 383,
 'Chile': 384,
 'Bpost': 385,
 'Lactalis': 386,
 'RUAG': 387,
 'Theater_Basel': 388,
 'Gotthard_Road_Tunnel': 389,
 'Hotel_Bellevue_Palace': 390,
 'Het_Loo_Palace': 391,
 'Victory_Boogie_Woogie': 392,
 'Dongfeng_Yulon': 393,
 'Swedish_Rail_Administration': 394,
 'Karlberg_Palace': 395,
 'China_Merchants_Group': 396,
 'Jinjiang_International': 397,
 'PTA_Bank': 398,
 'China_Telecom': 399,
 'Shanghai_Academy_of_Spaceflight_Technology': 400,
 'China_National_Space_Administration': 401,
 'Xinhua_News_Agency': 402,
 'China_Post': 403,
 'China_Unicom': 404,
 'China_Academy_of_Space_Technology': 405,
 'China_Radio_International': 406,
 'Sture_Terminal': 407,
 'Norwegian_Space_Centre': 408,
 'Indonesia': 409,
 'Brazil': 410,
 'Brazilian_Space_Agency': 411,
 'Georgia_(country)': 412,
 'Bull-Leaping_Fresco': 413,
 'PAS_Lamia_1964': 414,
 '2016–17_AEL_Kalloni_F.C._season': 415,
 'Trikala_F.C.': 416,
 'Apollon_Kalamarias_FC': 417,
 'PGS_Kissamikos_F.C': 418,
 'Panelefsiniakos_F.C.': 419,
 'Olympic_Stadium_(Athens)': 420,
 'AEL_Kalloni_F.C.': 421,
 'AO_Chania_F.C.': 422,
 'Ionikos_F.C.': 423,
 'A.P.S._Zakynthos': 424,
 'MVM_Group': 425,
 'Rohonci_út': 426,
 'Haladás_Sportkomplexum': 427,
 'Ganz_Works': 428,
 'Groupama_Arena': 429,
 'Hidegkuti_Nándor_Stadion': 430,
 'Earworm': 431,
 'Te_Uku_Wind_Farm': 432,
 'Birkenhead_United': 433,
 'Takapuna_AFC': 434,
 'Western_Springs_AFC': 435,
 'Hibiscus_Coast_AFC': 436,
 'La_Linda_International_Bridge': 437,
 'XHHCU-TDT': 438,
 'Ukrainian_Railways': 439,
 'Malyshev_Factory': 440,
 'Kiev_Arsenal': 441,
 'Photoprylad': 442,
 'Hong_Kong': 443,
 'TV_2_(Denmark)': 444,
 'Royal_Mint_(Denmark)': 445,
 'Nigeria': 446,
 'Vlasta_Neighborhood': 447,
 'Rangherka': 448,
 'Vinohrady_Cemetery': 449,
 'Vršovice_Cemetery': 450,
 'Česká_pošta': 451,
 'Vršovice_Savings_Bank_Building': 452,
 'Turkish_State_Railways': 453,
 '2017_City_Yangon_FC_season': 454,
 'Ankara_19_Mayıs_Stadium': 455,
 'Ankara_Palas': 456,
 'Adana_5_Ocak_Stadium': 457,
 'TCDD_Taşımacılık': 458,
 'Atatürk_Olympic_Stadium': 459,
 '2016_Horizon_FC_season': 460,
 'Gençlik_Stadium': 461,
 'Embassy_of_Turkey,_Berlin': 462,
 'Balıkesir_Atatürk_Stadium': 463,
 'Azerbaijan': 464,
 'Rössing_uranium_mine': 465,
 'Estonia': 466,
 'Căile_Ferate_Române': 467,
 'Stadionul_Farul': 468,
 'Căile_Ferate_Române_Line_200': 469,
 'Vasco_da_Gama_Bridge': 470,
 'Castle_of_Ouguela': 471,
 'Castelo_da_Póvoa': 472,
 'ENVC_Shipyard': 473,
 'Deportes_Puerto_Montt': 474,
 'Televisión_Nacional_de_Chile': 475,
 'Maccabi_Sektzia_Ma-alot-Tarshiha_F.C.': 476,
 'F.C._Shikun_HaMizrah': 477,
 'Beitar_Nes_Tubruk_F.C.': 478,
 'Israel_Space_Agency': 479,
 'Aker_Arctic': 480,
 'Valtion_lentokonetehdas': 481,
 'Altia': 482,
 'Passionate_Kemp': 483,
 'Hagemann_Mansion': 484,
 'Daria-i-Noor': 485,
 'Chabahar_Port': 486,
 'Tabriz_arg_theater': 487,
 'Iran_Electronics_Industries': 488,
 'Karamone_F.C.': 489,
 'Historical_Museum_of_Serbia': 490,
 'Air_force_command_building': 491,
 'Radio_Belgrade': 492,
 'Cyprus': 493,
 'Puerto_Rico': 494,
 'Jeonnam_Stadium': 495,
 'Gangjin_Baseball_Park': 496,
 'Korea_Aerospace_Research_Institute': 497,
 'Jeju_Baseball_Stadium': 498,
 'Gyeongju_Tower': 499,
 'Slovakia': 500,
 'Lithuania': 501,
 'Lithuanian_Railways': 502,
 'Slovenia': 503,
 'Colombia': 504,
 'Cerrejón': 505,
 'Croatian_National_Theatre_in_Zagreb': 506,
 'Presidential_Palace,_Zagreb': 507,
 'Croatian_National_Theatre_Ivan_pl._Zajc_in_Rijeka': 508,
 'Banski_dvori': 509,
 'Palace_Modello': 510,
 'Taiwan': 511,
 'Nigerian_Institute_of_Medical_Research': 512,
 'Bulgaria': 513,
 'FC_Minyor_Radnevo': 514,
 'Ghana': 515,
 'Saudi_Arabia': 516,
 'Ecuador': 517,
 'Petrovietnam': 518,
 'Vietnam': 519,
 'Chelsea_Hotel,_Toronto': 520,
 'A_Bathing_Ape': 521,
 'Office_of_the_Chief_Executive_(building)': 522,
 'Qatar': 523,
 'Museo_de_la_Música_Puertorriqueña': 524,
 'Museo_de_la_Arquitectura_Ponceña': 525,
 'SupremeSAT': 526,
 'Sri_Lanka': 527,
 'Lučivná_Tunnel': 528,
 'Železničná_spoločnosť_Slovensko': 529,
 'Network_Rail': 530,
 'Ford_Union': 531,
 'Belarus': 532,
 'Indonesia_Port_Corporations': 533,
 'PSP_Padang': 534,
 'National_Monument_(Indonesia)': 535,
 'Persik_Kendal': 536,
 'Istana_Cipanas': 537,
 'Albania': 538,
 'Royal_Villa_of_Durrës': 539,
 'Port_of_Koper': 540,
 'Pattaya_F.C.': 541,
 'Thailand': 542,
 'Jamaica': 543,
 'Arnett_Gardens_F.C.': 544,
 '1Malaysia_Development_Berhad': 545,
 '2016_Negeri_Sembilan_FA_season': 546,
 '2017_Negeri_Sembilan_FA_season': 547,
 '2015_Negeri_Sembilan_FA_season': 548,
 'National_Sports_Complex,_Malaysia': 549,
 'Negeri_Sembilan_FA_season_2012': 550,
 'Negeri_Sembilan_FA_season_2011': 551,
 'Negeri_Sembilan_FA_season_2010': 552,
 '2014_Negeri_Sembilan_FA_season': 553,
 '2013_Negeri_Sembilan_FA_season': 554,
 'Luxembourg': 555,
 'Morocco': 556,
 'Train_Navette_Rapide': 557,
 'Kalevi_Spordihall': 558,
 'Estonian_Air_Navigation_Services': 559,
 'Tunisia': 560,
 'National_Space_Organization': 561,
 'Republic_of_Ireland': 562,
 'Uttara_Export_Processing_Zone': 563,
 'Bangladesh': 564,
 'UT_Bank': 565,
 'Sony': 566,
 'Latvian_Mobile_Telephone': 567,
 'Niger': 568,
 'Latvia': 569,
 'Télé_Sahel': 570,
 'Cyprus_Broadcasting_Corporation': 571,
 'Paphos_International_Airport': 572,
 'Badoo': 573,
 'Townsquare_Media': 574,
 'LIPIA': 575,
 'Al_Oud_cemetery': 576,
 'Gulustan_Palace': 577,
 'Azermarka': 578,
 'Azərpoçt': 579,
 'Sangachal_Terminal': 580,
 'Kandahar_International_Airport': 581,
 'Bamyan_Airport': 582,
 'Farah_Airport': 583,
 'Shindand_Air_Base': 584,
 'Hamid_Karzai_International_Airport': 585,
 'Chaghcharan_Airport': 586,
 'Khost_Airfield': 587,
 'Zaranj_Airport': 588,
 'Forward_Operating_Base_Shank': 589,
 'Bost_Airport': 590,
 'Taloqan_Airport': 591,
 'Qala_i_Naw_Airport': 592,
 'Bagram_Airfield': 593,
 'Nili_Airport': 594,
 'Kunduz_Airport': 595,
 'Government_of_the_United_Kingdom': 596,
 'Empresa_Metropolitana_de_Servicios_y_Administración_del_Transporte': 597,
 'Ecuadorian_Civilian_Space_Agency': 598,
 'Jagdish_Singh_Khehar': 599,
 'Edmonton': 600,
 'Moldova': 601,
 'Calea_Ferată_din_Moldova': 602,
 'Iceland': 603,
 'Landsvirkjun': 604,
 'Republic_of_Macedonia': 605,
 'Washington,_D.C.': 606,
 'Montenegro': 607,
 'Department_for_Transport': 608,
 'East_Japan_Railway_Company': 609,
 'Time_Warner': 610,
 'Barbados': 611,
 'Dominica': 612,
 'Windsor_Park_(Dominica)': 613,
 'West_Japan_Railway_Company': 614,
 'Radiodiffusion_Télévision_Congolaise': 615,
 'Republic_of_the_Congo': 616,
 'Boreal_Norge': 617,
 'Kosovo': 618,
 'Baltimore': 619,
 'Forthnet': 620,
 'Labbay': 621,
 'Charter_Communications': 622,
 'Irish_Bank_Resolution_Corporation': 623,
 'Ballynahow_Castle': 624,
 'Bolivia': 625,
 'TV_Boliviana': 626,
 'Montreal': 627,
 'Oaktree_Capital_Management': 628,
 'Elizabeth_II': 629,
 'Radio-Télévision_nationale_congolaise': 630,
 'Democratic_Republic_of_the_Congo': 631,
 'Madison_Square_Garden_Company': 632,
 'Boiron': 633,
 'Eco-Bat_Technologies': 634,
 'Otto_Hahn': 635,
 'Pete_Buttigieg': 636,
 'Annet_Mahendru': 637,
 'Mithaq_Kazimi': 638,
 'Josiah_Harlan': 639,
 'Neil_Armstrong': 640,
 'Frank_Borman': 641,
 'Herbert_Gleiter': 642,
 'Avan_Jogia': 643,
 'Adam_Driver': 644,
 'Herb_Baumeister': 645,
 'Rudolf_Mössbauer': 646,
 'Hermann_Fichter': 647,
 'Martin_Baum': 648,
 'David_Ziegler': 649,
 'Sofia_Samatar': 650,
 'Jacob_Trautman': 651,
 'Adolph_Wolter': 652,
 'Navi_Rawat': 653,
 'Frederick_Fraske': 654,
 'Paul_Andrew_Hutton': 655,
 'Ben_Reifel': 656,
 'Henry_F._Schricker': 657,
 'Chuck_Klein': 658,
 'John_Polanyi': 659,
 'Joe_Hogsett': 660,
 'Bryan_Fairfax,_8th_Lord_Fairfax_of_Cameron': 661,
 'Samuel_John_Atlee': 662,
 'Subra_Suresh': 663,
 'James_Ewing_(Pennsylvania)': 664,
 'John_Haslet': 665,
 'Stephen_Heard': 666,
 'James_Murray_of_Strowan': 667,
 'John_Mathews_(Augusta_County)': 668,
 'Artemas_Ward': 669,
 'David_McGregore': 670,
 'Christopher_Gist': 671,
 'Daniel_Morgan': 672,
 'Richard_R._Ernst': 673,
 'Hugh_Palliser': 674,
 'George_Mercer_(military_officer)': 675,
 'Captain_Jacobs': 676,
 'Valeska_Suratt': 677,
 'Memeskia': 678,
 'Patrick_Anderson_(assemblyman)': 679,
 'Anthony_Bledsoe': 680,
 'William_Smallwood': 681,
 'James_Reed_(soldier)': 682,
 'John_Nixon_(military)': 683,
 'Thomas_Marshall_(U.S._politician)': 684,
 'Simon_Bruté': 685,
 'United_States_Army': 686,
 'Uganda_Development_Bank_Limited': 687,
 'Uganda': 688,
 'Rudolph_Stauffer': 689,
 'Jacques_Marcus_Prevost': 690,
 'Hannes_Alfvén': 691,
 'Ahmed_Zewail': 692,
 'Olenus_(trilobite)': 693,
 'Adam_Osborne': 694,
 'Danny_Pudi': 695,
 'Oscar_Hedstrom': 696,
 'Roald_Hoffmann': 697,
 'Jeremy_Guthrie': 698,
 'Romuald_Karmakar': 699,
 'Alexander_Vraciu': 700,
 'Robin_Singh_(cricketer)': 701,
 'Utpal_Bhattacharya': 702,
 'Thomas_J._Callan': 703,
 'Frederick_Haldimand': 704,
 'Claude_Cohen-Tannoudji': 705,
 'Henry_Charles_Gordon': 706,
 'Joseph_Ritter': 707,
 'Bengali_Americans': 708,
 'James_Stewart': 709,
 'Neera_Tanden': 710,
 'Little_Turtle': 711,
 'Nayan_Chanda': 712,
 'Sanjoy': 713,
 'Norman_Borlaug': 714,
 'Phil_GiaQuinta': 715,
 'C._N._R._Rao': 716,
 'Waldo_A._Evans': 717,
 'James_L._Mitchell': 718,
 'Ashley_Spencer_(athlete)': 719,
 'Scott_Halberstadt': 720,
 'Wesley_Bad_Heart_Bull': 721,
 'Tom_Metzger': 722,
 'Japen_Patel': 723,
 'Eric_Wedge': 724,
 'Dave_Robbins_(trombonist)': 725,
 'Surajit_Chaudhuri': 726,
 'Ramesh_Ponnuru': 727,
 'Shashi_Nambisan': 728,
 'Adam_Kennedy_(actor)': 729,
 'Braden_Danner': 730,
 'Miss_DuPont': 731,
 'Tommy_Kron': 732,
 'Ponisseril_Somasundaran': 733,
 'Shawn_Kemp': 734,
 'Prabhu_Goel': 735,
 'Freddie_Fitzsimmons': 736,
 'John_G._Davis': 737,
 'Susan_Brooks': 738,
 'Adam_Bass': 739,
 'Adna_Chaffee': 740,
 'Kosoha': 741,
 'Satish_Hiremath': 742,
 'Armon_Bassett': 743,
 'Vikram_Chandra_(novelist)': 744,
 'Kyle_Christy': 745,
 'Lewis_Phife': 746,
 'Vyomesh_Joshi': 747,
 'Bob_Kevoian': 748,
 'Billy_Shepherd': 749,
 'William_Allen_Woods': 750,
 'Ken_Foree': 751,
 'Antonio_Ballard': 752,
 'Jean_Shepherd': 753,
 'Ramnarayan_Rawat': 754,
 'Gordon_C._Stauffer': 755,
 'Billy_Wright_(basketball)': 756,
 'Gideon_C._Moody': 757,
 'Henry_Bell_Gilkeson': 758,
 'Daniel_Garber': 759,
 'Timothy_Brown_(actor)': 760,
 'Sean_Woods': 761,
 'Chad_Collyer': 762,
 'Tao_Porchon-Lynch': 763,
 'Samir_Das': 764,
 'Gene_E._Sease': 765,
 'E._Ross_Adair': 766,
 'Hulda_Stumpf': 767,
 'Stanley_Sfekas': 768,
 'Bobby_Wilson_(basketball,_born_1951)': 769,
 'Fran_Carlon': 770,
 'Thrity_Umrigar': 771,
 'Rishi_Bhat': 772,
 'Kate_Collins_(author)': 773,
 'Emily_Kimbrough': 774,
 'Michael_Palmer_(conductor)': 775,
 'Florence_Henderson': 776,
 'Peter_Lupus': 777,
 'Rafi_Ahmed': 778,
 'Sid_Catlett': 779,
 'Trey_Hollingsworth': 780,
 'Jimmy_King': 781,
 'John_Walker_(Medal_of_Honor)': 782,
 'Jim_Springer': 783,
 'Charles_Hockenberry': 784,
 'Dan_Gode': 785,
 'Jake_Lloyd': 786,
 'Steve_Buyer': 787,
 'Richard_Lugar': 788,
 'Scatman_Crothers': 789,
 'William_D._Owen': 790,
 'Jeremiah_J._Murphy': 791,
 'K._R._Rao': 792,
 'Rajiv_Satyal': 793,
 'Reef_Karim': 794,
 'Edward_Canby': 795,
 'Robert_Wilkinson_Furnas': 796,
 'Charles_Harvey_Denby': 797,
 'Henry_J._Hyde_(Medal_of_Honor)': 798,
 'Theresa_Lazar_Springmann': 799,
 'Manu_Prakash': 800,
 'Harold_Scheub': 801,
 'Emily_Schild': 802,
 'Vince_Welch': 803,
 'Charles_Franklin': 804,
 'Apu_Nahasapeemapetilon': 805,

In [15]:
model.train(input_list, total_examples=model.corpus_count, epochs=model.epochs)

(79906692, 164397025)

In [16]:
model.wv[2]

array([-3.4236205 ,  0.4906592 , -0.22651488, -2.804395  ,  2.8481731 ,
       -2.1673498 ,  0.82023054,  0.70955855,  2.1968296 , -2.6843626 ,
       -0.8649807 ,  1.010202  , -0.8851254 , -1.1120915 , -0.41871598,
       -0.0707609 , -1.4397527 , -0.6443399 , -0.39191708,  0.86411536,
       -1.1043245 ,  0.09136845, -1.5457762 ,  1.5849445 ,  1.8213675 ,
        1.0504185 ,  0.40519288, -1.0683491 ,  0.05217945, -1.0709686 ,
        1.2585146 , -0.7764412 ,  1.5658954 , -0.1709104 , -1.3501844 ,
       -0.05427699, -0.20584613,  1.1290065 , -0.04786539,  1.7492874 ,
       -2.2994063 ,  1.1184217 ,  0.31519172,  1.0686433 ,  1.9385384 ,
       -0.7609378 , -0.303465  ,  0.07692243, -1.4450488 ,  1.8659817 ],
      dtype=float32)

In [17]:
model.wv["India"]

array([-3.4236205 ,  0.4906592 , -0.22651488, -2.804395  ,  2.8481731 ,
       -2.1673498 ,  0.82023054,  0.70955855,  2.1968296 , -2.6843626 ,
       -0.8649807 ,  1.010202  , -0.8851254 , -1.1120915 , -0.41871598,
       -0.0707609 , -1.4397527 , -0.6443399 , -0.39191708,  0.86411536,
       -1.1043245 ,  0.09136845, -1.5457762 ,  1.5849445 ,  1.8213675 ,
        1.0504185 ,  0.40519288, -1.0683491 ,  0.05217945, -1.0709686 ,
        1.2585146 , -0.7764412 ,  1.5658954 , -0.1709104 , -1.3501844 ,
       -0.05427699, -0.20584613,  1.1290065 , -0.04786539,  1.7492874 ,
       -2.2994063 ,  1.1184217 ,  0.31519172,  1.0686433 ,  1.9385384 ,
       -0.7609378 , -0.303465  ,  0.07692243, -1.4450488 ,  1.8659817 ],
      dtype=float32)

In [18]:
model.wv.similarity(w1='Manar_Dam', w2='Chankapur_Dam')

0.99475384

In [19]:
model.wv.most_similar('Taloqan_Airport')

[('Zaranj_Airport', 0.9990150332450867),
 ('Bost_Airport', 0.9985569715499878),
 ('Hamid_Karzai_International_Airport', 0.9984516501426697),
 ('Qala_i_Naw_Airport', 0.998111367225647),
 ('Forward_Operating_Base_Shank', 0.997763454914093),
 ('Bagram_Airfield', 0.997743546962738),
 ('Nili_Airport', 0.997715950012207),
 ('Shindand_Air_Base', 0.9977089166641235),
 ('Farah_Airport', 0.9976401329040527),
 ('Kandahar_International_Airport', 0.9974153637886047)]

In [20]:
model.wv.most_similar("India")

[('owns', 0.705382227897644),
 ('isCitizenOf', 0.7003915905952454),
 ('Sergio_Méndez_Arceo', 0.5591245889663696),
 ('Ylber_Ramadani', 0.5505976676940918),
 ('M._A._Hannan', 0.5497944355010986),
 ('Bebe_Cool', 0.5465510487556458),
 ('Maison_Louis_Jadot', 0.5430201888084412),
 ('Vaan_Nguyen', 0.5127936601638794),
 ('Raycom_Media', 0.5119197964668274),
 ('Shahin_Hossain', 0.5101155042648315)]

In [21]:
model.wv.most_similar('South_Korea')

[('Gyeongju_Tower', 0.9845046997070312),
 ('Jeju_Baseball_Stadium', 0.9757022261619568),
 ('Korea_Aerospace_Research_Institute', 0.9747798442840576),
 ('Jeonnam_Stadium', 0.964858889579773),
 ('Gangjin_Baseball_Park', 0.9627138376235962),
 ('Ecuadorian_Civilian_Space_Agency', 0.6846884489059448),
 ('Empresa_Metropolitana_de_Servicios_y_Administración_del_Transporte',
  0.6687515377998352),
 ('Yoo_Chang-hyuk', 0.6483315229415894),
 ('Tomiko_Lee', 0.6445599794387817),
 ('Sora_Jung', 0.6404295563697815)]

In [22]:
model.wv.most_similar('Sony')

[('West_Japan_Railway_Company', 0.9802745580673218),
 ('East_Japan_Railway_Company', 0.9775868654251099),
 ('Charter_Communications', 0.9765511751174927),
 ('Apple_Inc.', 0.974564790725708),
 ('The_Master_Trust_Bank_of_Japan', 0.9732047319412231),
 ('Japan_Trustee_Services_Bank', 0.9705685973167419),
 ('NBCUniversal', 0.9586474299430847),
 ('Time_Warner', 0.9556670784950256),
 ('CBS_Corporation', 0.9552968144416809),
 ('Townsquare_Media', 0.9506263732910156)]

## References Used
1) https://datacarpentry.org/python-socialsci/11-joins/index.html#:~:text=The%20concat()%20function%20can,of%20one%20to%20the%20other.&text=The%20merge()%20function%20is%20equivalent%20to%20the%20SQL%20JOIN,inner'%20joins%20are%20all%20possible.